.App {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox {
    position: absolute;
    z-index: 2;
    width: 500px;
    height: 500px;
    background-image: url("./gorilla_disappointed.png");
    color: white;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    div {
        text-shadow: 1px 2px 2px black;
        text-align: center;
    }
}
