.penis {
    width: 300px;
    height: 527px;
    background-image: url("cartoon-penis.jpg");
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.animate {

}
